# Ignore all
/*

#unignore gitignore

#unignore reflections
!/reflections/
!/reflections/*

#unignore only important folders
!/App/actions/
!/App/actions/*

!/App/components/
!/App/components/*
!/App/components/**/*

!/App/navigators/
!/App/navigators/*


!/App/reducers
!/App/reducers/
!/App/reducers/*

!/App/config/
!/App/config/*

