.DS_Store

# Ignore all
*

!.gitignore

!/App/assets/
!/App/assets/*
!/App/assets/**

# Descende into App
!App/
!App/*

# Descende into deeper subdirectories in App
!/App/actions/
!/App/actions/*

!/App/components/
!/App/components/*
!/App/components/**/*

!/App/navigators/
!/App/navigators/*


!/App/reducers
!/App/reducers/
!/App/reducers/*

!/App/config/
!/App/config/*


# Descende into reflections
!reflections/

# Descende deeper in reflections
!/reflections/**
